@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeAppear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes growHorizontal {
  from {
    width: 0;
  }
  to {
    width: 98%;
  }
}

.intro {
  animation: fadeAppear 1s 0.2s ease-in-out;
}

.heroName {
  line-height: 1.5em;
  animation: fadeAppear 1.3s 0.3s ease-in-out;
}

.heroName .emphasize::after {
  content: "";
  position: absolute;
  bottom: 0.6rem;
  left: 0;
  width: 100%;
  height: 0.35rem;
  border-radius: 1rem;
  background-image: linear-gradient(to right, #4fa9ff, #0054cc);
  box-shadow: 0 0 1rem #0054cc;
  animation: growHorizontal 1.3s cubic-bezier(0.9, 0, 0.5, 0.9) 0.8s;
}

.section-container {
  @apply 2xl:container xl:px-20 md:px-12 px-4 mx-auto;
}

.text-gradient {
  background: linear-gradient(to right, #3b82f6, #1d4ed8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
